{% extends "layout.njk" %}

{% block head %}
    <title>Adicionar projetos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" action="/projetos">
        <section>
            
            <button type="submit" id="btnEntrar">Enviar</Button>
            </section>
        </form>
    </div>
{% endblock %}