{% extends "layout.njk" %}

{% block head %}
    <title>Adicionar projetos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="mainProjetos">
            <a href="/login/alterarSenha"> Alterar Senha</a>
            <a href="/addProjetos/sobre">Alterar Sobre</a>
            <a href="/addProjetos/projetos"> Adicionar Projetos</a>
        </div>
    </div>
{% endblock %}