{% extends "layout.njk" %}

{% block head %}
    <title>Projetos - Alef Santos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>Projetos realizados</h1>
    </div>
    <section id="cards">
        {% for item in projetos %}
            <div class="card" id="{{item.id}}">
                <div class="card-image-container">
                    <img src="{{item.img}}" alt="projeto {{item.id}}">
                </div>
                <div class="card-content">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-info">
                    <p>{{item.objective}}</p>
                    <p class="card-price">{{item.creator}}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <script src="javascript.js"></script>
{% endblock %}