@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: #282a36;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
}
header div {
    text-align: center;
}
.links {
    text-align: center;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    transition: color 200ms;
}
.links a:hover{
    text-decoration: underline;
    color: var(--color-green);
}
#links-footer a {
    border-bottom: 1px solid var(--color-green);
    text-decoration: none;
}
#wrapper {
    text-align: center;
    padding: 32px;
}
#wrapper img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 25px solid white;
}
#warapper h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}
#warapper h2 {
    font-size: 24px;
    line-height: 34;
    margin-top: 10px;
    opacity: 0.8;
}
#wrapper p{
    max-width: 500px;
    margin: 22px auto;
    font-size: 17px;
    line-height: 25px;
}

/* ----Cards---- */
#cards{
    max-width: 830px;
    max-height: 200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 500px;
}
.card{
    background-color: var(--color-rocket);
    height: 100%;
    cursor: pointer;
    transition: 500ms;
    position: relative;
    display: grid;
}
.card:hover {
    opacity: 1;
}
.card:before{
    z-index: 1;
    position: absolute;
    content: '';
    background-color: var(--color-rocket);
    width: 100%;
    height: 0px;
    opacity: 1;
    transition: all 2s;
}
.card:hover:before{
    height: 100%;
    opacity: 0;
}
.card-image-container img{
    width: 100%;
    height: 150px;
    filter: saturate(170%);
    object-fit: cover;
}
.card-content,
.card-info {
    padding: 24px;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.card-price{
    background-color: var(--color-rocket);
    filter: brightness(90%);
    padding: 2px 20px;
    border-radius: 20px;
    text-align: center;  
}

/* modal-overlay */

.modal-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    visibility: hidden;
}
.modal {
    background-color: var(--color-rocket);
    width: 70%; 
    height: 70%;
    margin: 15vh auto;
    position: relative;
}
.modal .close-modal {
    position: absolute;
    color: white;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
.modal .close-modal .material-icons{
    font-size: 40px;
}

.descricao {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.descricao h1{
    color: white;
    padding: 30px 0 30px 30px;
    margin-top: 30px;
}

.descricao h2{
    padding-left: 30px;
}

.descricao p {
    width: 80%;
    font-size: 22px;
    text-align: center;
    margin: 70px auto;
}
.descricao a{
    color: white;
    font-size: 25px;
    line-height: 28px;
    margin: 0 auto;
    transition: color 200ms;
}

.descricao a:hover{
    color: var(--color-green);
    font-size: 30px;
}

/* Tela de login */
section {
    width: 70%;
    margin: 0 auto;
}

form {
    width: 80%;
    margin: 4% auto 0;
}

form h2 {
    text-align: center;
}

form h3 {
    padding: 20px 0 7px;
}

#panel {
    color: var(--color-green);
    text-align: center;
    width: 100%;
    font-size: 100px;
}

form div {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-green);
    border-radius: 40px;
}

form div #icon {
    font-size: 40px;
    width: 15%;
    text-align: center;
    color: white;
    padding: 2px;
}
.container form input,
form div input {
    width: 100%;
    height: 45px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    outline: none;
}

form #btnEntrar {
    margin-top: 30px;
    margin-left: auto;
    width:30%;
    height: 34px;
    display: block;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--color-green);
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: 500ms;
}

form #btnEntrar:hover{
    border: 3px solid white;
}

/* Adiconando projetos */
.info {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

#description a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    color: var(--color-green);
    font-size: 24px;
}

/* Gestão de projetos */

.mainProjetos{
    height: 80vh;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainProjetos a{
    background-color: var(--color-green);
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
}

.mainProjetos a + a{
   margin-top: 20px;
}

.lsociais{
    background-color: rgba(137, 43, 226, 0);
    justify-content: space-around;
}

.separa {
    display: flex;
    flex-direction: column;
    background-color: rgba(250, 235, 215, 0);
    width: 40%;
}

.separa h2{
    font-size: 15px;
}

.separa div{
    justify-content: space-around;
    margin-top: 20px;
}


.separa div #icon{
    font-size: 24px;
}

#btn {
    display: block;
    margin: 50px auto;
    width:40%;
    height: 44px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--color-green);
    cursor: pointer;
    transition: 500ms;
}

@media screen and (max-width: 600px) {
    #cards {
        grid-template-columns: 1fr;
        height: 200px;
    }

    form {
        width: 100%;
    }

    form div {
        border-radius: 10px;
    }

    section div {
        height: 30px;
        border-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }

    section div #icon{
        font-size: 10px;
    }

    section div input {
        height: 30px;
    }

    form #btnEntrar {
        width: 49%;
    }

    .container form input,
    form div input {
    width: 100%;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    outline: none;
    }

    #btn{
        margin: 180px auto 20px;
    }

    .card-content {
        margin-top: 100px;
        font-size: 20px;
    }

    #password,
    #user {
        height: 44px;
    }
}
 